{% extends 'base.html' %}

{% block title %}staffs{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'staff-create' %}"><i
    class="fas fa-plus"></i> New staff</a>
{% endblock breadcrumb %}

{% block content %}
  <table id="stafftable" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>S/N</th>
        <th>Fullname</th>
        <th> Date of Employment</th>
        <th> Email </th>
        <th> Mobile Number </th>
        <th> Country</th>
        <th> Created by</th>
        <th> Updated by</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      {% for staff in object_list %}
        <tr class='clickable-row' data-href="{% url 'staff-detail' staff.id %}">
          <td>{{ forloop.counter}}</td>
          <td>{{ staff.surname}} {{staff.firstname }} {{staff.other_name }}</td>
          <td>{{ staff.date_of_employment}}</td>
          <td>{{ staff.email}}</td>
          <td>{{ staff.mobile_number}}</td>
          <td>{{ staff.country}}</td>
          <td>{{ staff.created_by}}</td>
          <td>{{ staff.updated_by}}</td>
          <td>{{ staff.get_current_status_display}}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script>
   $('#stafftable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
