{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <h1>Dashboard Overview</h1>

        <!-- Profile Overview -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Profile Overview
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="profile_photo_url" alt="Profile Photo" class="img-fluid rounded-circle">
                            </div>
                            <div class="col-md-9">
                                <h5>Name: John Doe</h5>
                                <p>Student ID: 123456</p>
                                <p>Current Year: 2nd Year</p>
                                <p>Major: Medicine</p>
                                <p>GPA: 3.8</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Course Information -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Course Information
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Current Courses</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">Anatomy</li>
                                    <li class="list-group-item">Physiology</li>
                                    <li class="list-group-item">Biochemistry</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h5>Resources and Grades</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">Course Materials</li>
                                    <li class="list-group-item">Grades and Performance Tracking</li>
                                    <li class="list-group-item">Registration for Upcoming Courses</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Calendar and Schedule -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Calendar and Schedule
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Academic Calendar</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">Important Dates and Holidays</li>
                                    <li class="list-group-item">Class Schedules</li>
                                    <li class="list-group-item">Exam Schedules</li>
                                    <li class="list-group-item">Events and Extracurricular Activities</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h5>Class Schedule</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">Monday: Anatomy, Physiology</li>
                                    <li class="list-group-item">Wednesday: Biochemistry</li>
                                    <li class="list-group-item">Friday: Clinical Skills</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Announcements and Notifications -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Announcements and Notifications
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Important Announcements from Administration</li>
                            <li class="list-group-item">Alerts for Upcoming Deadlines (Assignments, Exams, Registration)</li>
                            <li class="list-group-item">Messages from Instructors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Resources and Tools -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Resources and Tools
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Access to Library and Research Databases</li>
                            <li class="list-group-item">Clinical Rotation Schedules and Details</li>
                            <li class="list-group-item">Links to Study Materials and Practice Exams</li>
                            <li class="list-group-item">Access to Medical Journals and Publications</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Student Services -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Student Services
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Contact Information for Academic Advisors and Mentors</li>
                            <li class="list-group-item">Health and Wellness Resources</li>
                            <li class="list-group-item">Career Services and Job Placement Information</li>
                            <li class="list-group-item">Financial Aid and Scholarship Information</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}