<!-- templates/corecode/equipment_checkout_list.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Reserve Classroom
{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal2">
    <i class="fa fa-plus"></i>
    Add Classroom
  </a>
  <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal1">
    <i class="fa fa-plus"></i>
    Reserve Classroom
</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="reserveclassroomtable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Classroom</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Description</th>
          <th>Created By</th>
          <th>Updated By</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for classroom in object_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ classroom.classroom }}</td>
            <td>{{ classroom.start_time }}</td>
            <td>{{ classroom.end_time }}</td>
            <td>{{ classroom.description }}</td>
            <td>{{ classroom.created_by }}</td>
            <td>{{ classroom.updated_by }}</td>
            <td>
              <a href="{% url 'classroom_reservation_update' classroom.id %}"><i class="fa fa-edit"></i></a>
              <a href="{% url 'classroom_reservation_delete' classroom.id %}" class="text-danger"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'classroom-create' %}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new Classroom</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% for field in eform %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'classroom_reservation_create' %}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reserve Classroom</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block morejs %}
<script>
  $('#reserveclassroomtable').DataTable({
  });
</script>
{% endblock morejs %}
