{% extends 'base.html' %}

{% block title %}Courses{% endblock title %}

{% block content %}
  <div class="table-responsive">
    <table id="coursetable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Code</th>
          <th>Level</th>
          <th>Lecturer</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        {% for course in courses %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.code }}</td>
            <td>{{ course.level }}</td>
            <td>{{ course.lecturer }}</td>
            <td>
              {% if course.id in registered_courses_ids %}
              <form class="register-form" action="{% url 'course-unregistration'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="course_id" value="{{ course.id }}">  
                <button type="submit" class="btn btn-danger btn-action" data-action="unregister" data-course-id="{{ course.id }}" onclick="return confirm('Are you sure you want to unregister this course?')" style="width: 120px;">Unregister</button>
              </form>
            {% else %}
              <form class="register-form" action="{% url 'course-registration' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <button type="submit" class="btn btn-primary btn-action" data-action="register" data-course-id="{{ course.id }}" onclick="return confirm('Are you sure you want to register for this course?')" style="width: 120px;">Register</button>
              </form>
            {% endif %}
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  

{% endblock content %}


{% block morejs %}
<script>
  $('#coursetable').DataTable({
  });
</script>
{% endblock morejs %}