{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}

Course Registration Period

{% endblock title %}

{% block breadcrumb %}
  <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal1">
    <i class="fa fa-plus"></i>
    Add new Course Registration Period
  </a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="course_registrationtable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th> Status </th>
            <th> Academic Session </th>
            <th> Academic Semester </th>
            <th>Created By</th>
            <th>Updated By</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for course_registration in object_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ course_registration.start_date }}</td>
            <td>{{ course_registration.end_date }}</td>
            {% if course_registration.status %}
                    <td class="text-success">Open</td>
                {% else %}
                    <td class="text-danger">Closed</td>
            {% endif %}
            <td>{{ course_registration.academic_session }}</td>
            <td>{{ course_registration.academic_semester }}</td>

            <td>{{ course_registration.created_by }}</td>
            <td>{{ course_registration.updated_by }}</td>
            <td>
              <a href="{% url 'course-registration-period-update' course_registration.id %}"><i class="fa fa-edit"></i></a>
              <a href="{% url 'course-registration-period-delete' course_registration.id %}" class="text-danger"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'course-registration-period-create' %}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new Course Registration Period</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block morejs %}
<script>
  $('#course_registrationtable').DataTable({
  });
</script>
{% endblock morejs %}
