{% extends 'base.html' %}


{% block title %}Departments{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal1"><i class="fas fa-plus"></i> Add new Department</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="departmenttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Description</th>
          <th>Head of Department</th>
          <th>Created By</th>
          <th>Updated By</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        {% for department in object_list %}
          <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ department.name }}</td>
            <td>{{ department.description}}</td>
            <td>{{ department.head}}</td>
            <td>{{ department.created_by }}</td>
            <td>{{ department.updated_by }}</td>
            <!-- edit and delete-->
            <td>
              <a href="{% url 'department-update' department.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'department-delete' department.id %}" class="btn btn-danger">Delete</a>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'department-create' %}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new Deparment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                  </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}


{% block morejs %}
<script>
  $('#departmenttable').DataTable({
  });
</script>

{% endblock morejs %}
