{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  {{title}}
{% endblock title %}



{% block title-side %}{% endblock title-side %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          {% for field in form %}
          <div class="form-group">
            {{ field.label_tag}}
            <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" {% if field.field.required %}required{% endif %} class="form-control {% if field.errors %}is-invalid{% endif %}">
            {{field.help_text}}
            {{field.errors}}
          </div>
          {% endfor %}
        </div>

        {% if request.resolver_match.view_name == 'user_change' %}
        <input type="button" value="Reset Password" onclick="resetPassword()"><br><br>
      {% endif %}

        <input type="submit" value="Save" class="w-25 btn btn-primary">

      </form>
    </div>
  </div>

  {% if request.resolver_match.view_name == 'user_change' %}
  <script>
    function resetPassword() {
      var username = document.getElementById('id_username').value;
      var confirmReset = confirm('Are you sure you want to reset the password for ' + username + '?');

      if (confirmReset) {
        window.location.href = '/accounts/password_reset';
      }
    }
  </script>
{% endif %}

{% endblock content %}


