{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block title-side %}{% endblock title-side %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {% if field.required and not field.is_nullable %}
              {{ field | add_class:"form-control" | add_error_class:"is-invalid" | attr:"required"}}
            {% else %}
              {{ field | add_class:"form-control" | add_error_class:"is-invalid"}}
            {% endif %}
            {{ field.help_text }}
            {{ field.errors }}
          </div>
          {% endfor %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              {{ form.non_field_errors|striptags }}
            </div>
          {% endif %}
          </div>
        </div>

          <input type="submit" value="Save" class="btn btn-primary" style="width: 15%; padding: 10px; margin-right: 10px;">
          <button type="button" class="btn btn-secondary" onclick="history.back()" style="width: 15%; padding: 10px;">Back</button>

      </form>
    </div>
  </div>

{% endblock content %}
